body {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}

@media (min-width: 1201px) and (max-width: 1920px){
    nav {
        display: flex;
        align-items: center;
        height: 54px;
        padding: 10px 0;
        justify-content: center;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        width: 1200px;
        text-align: center;
    }

    #navbar h2 {
        color: #448899;
        size: 30px;
        line-height: 34px;
        letter-spacing: 0;
        font-weight: 700;
    }

    

    nav #login {
        display: flex;
        align-items: center;
    }

    .button {
        font-weight: 500;
        padding: 10px;
        font-size: 16px;
        line-height: 13.3px;
        letter-spacing: 0;
    }

    .hero-section {
        background-image: url('./welcome.png');
        height: 320px;
    }

    main {
        padding: 40px 0;
        justify-items: center;
    }

    .list-bar {
        height: 70px;
        background-color: aqua;
        padding-bottom: 20px;
        width: 1200px;
    }

    .attractions {
        width: 1200px;

    }

    .grid {
        display: grid;
        padding: 15px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 30px;
    }

    .attraction {
        background-color: palevioletred;
        width: 1fr;
        height: 80px;
        border-width: 2px;
        border-color: black;
        border-style: solid;
    }


    footer {
        background-color: #757575;
        height: 104px;
        text-align: center;
        align-content: center;
    }

    footer p {
        font-size: 16px;
        font-weight: 700;
        line-height: 13.3px;
        vertical-align:middle;
        color: #FFFFFF;
    }

}